<div id = "comments=new" class = "mt-5 mb-5">
<form>
	  <div class="mb-3">
		  	<input type = "hidden" value ="{{id}}"/>
		    <label for="new-comments-nickname" class="form-label">닉네임</label>
		    <input type="text" class="form-control" id="new-comments-nickname">
	  </div>
	  <div class="mb-3">
		    <label for="new-comments-body" class="form-label">내용</label>
		    	<textarea class="form-control" id="new-comments-body"></textarea>
		    <div id="bodyhelp" class="form-text">#바른말 고운말을 씁시다</div>
	  </div>
	  <button type="button" class="btn btn-primary" id = "new-create-btn">댓글쓰기</button>
</form>
</div>
<!-- submit은 새로고침함 -->
<!-- 댓글쓰기 : js -->

<script>
	const newCreateBtnEl = document.querySelector("#new-create-btn");
	const nickNameEl = document.querySelector("#new-comments-nickname");
	const bodyEl = document.querySelector("#new-comments-body");
	const commentsListEl = document.querySelector("#comments-list");
	 
	newCreateBtnEl.addEventListener('click' , () =>{
		let url = '/api/articles/{{id}}/comments'
		const comment = {
				nickname : nickNameEl.value, //닉네임
				body : bodyEl.value, //댓글본문
				article_id : {{id}}	   //원글번호
		}
		
		const params = {
				method :'POST',
				body : JSON.stringify(comment),
				headers :{"Content-type": "application/json; charset=utf-8"}
		}

		 fetch(url, params)
		     .then( response => {
		    	 let   cid = response.id;
		    	 const msg = ( response.ok ) 
		    	        ? "댓글이 등록되었습니다"
		    			: "댓글이 등록 실패"
		         alert(msg)
		    	 window.location.href()
		     })

				
		
	});
	
	

</script>