<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
{{>layout/header}}
	<div class = "mb-2">
		<span>번호 : {{id}}</span>
	</div>
	<div class = "mb-3">
		<label for = "title" class = "form-label">제목</label>
		<input type = "text" class = "form-control" id = "title" name = "title" value = "{{article.title}}" readOnly>
	</div>
	<div class = "mb-3">
		<label for = "content" class ="form-label">내용</label>
		<textarea class ="form-control" name = "content" id = "content" rows ="12" readOnly>{{article.content}}</textarea>
	</div>

<hr>
{{! 댓글뷰를 추가(주석) }}

	{{>comments/_comments}}
	
<hr>

<a href = "/" class = "btn btn-secondary">홈</a>
<a href = "/article/list" class = "btn btn-dark">목록</a>
<button type="submit" class="btn btn-danger" style = "margin-left: 30px">
	<a href="/article/updateForm/{{id}}" style = "text-decoration: none; color : white">게시글 수정하기</a></button>

{{>layout/footer}}



</body>
</html>
