<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
{{>layout/header}}
 <body>
       <h2>하이2</h2>
       <p> {{ username }} 님 ㅎㅇ</p>
     </body>
{{>layout/footer}}
</html>