<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
{{>layout/header}}
     <body>
       <h2>하이4</h2>
       <p> {{ username }} 님 ㅎ3</p>
<!-- footer -->
<!-- site 정보 -->
<div class="bg-primary">
	내용
</div>

{{>layout/footer}}
</body>
</html>